/* App.module.css */
@import "tailwindcss";

/* App.module.css */
.fuenteBase {
    font-family: Arial, sans-serif;
    font-size: 1.2rem;
}

.tarjetaAzul {
    background-color: #1e3a8a;
    color: white;
    padding: 20px;
    border-radius: 8px;
}

.bordeResaltado {
    border: 3px solid #fbbf24;
}